html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;

  margin-left: auto;
  margin-right: auto;

  @include for-size(tablet-portrait) {
    width: 320px;
  }

  @include for-size(tablet-landscape) {
    width: 768px;
    padding-top: 60px;
    padding-right: 75px;
    padding-left: 75px;
    padding-bottom: 50px;
  }

  @include for-size(desktop) {
    width: 1024px;
    padding-right: 70px;
    padding-left: 70px;
  }
}

.btn {
  background-color: inherit;
  min-width: 136px;
  color: $white;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33px;
  display: inline;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  padding: 20px 38px;
  border: 1px solid #ffffff;
  border-radius: 5px;

  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    background-color: $accent;
    border: 1px solid $accent;
    outline: inherit;
  }
}

.is-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
