//DOnt forget buttons in header

img {
  border-radius: 20px;
}

.modal__content {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;

  &-genres {
    padding: 0;
  }

  &-decsription {
    margin: 0;
    font-size: 12px;
    line-height: 1.67;
  }

  &-button {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    @include for-size(tablet-landscape) {
      margin-top: 20px;
    }

    @include for-size(desktop) {
      justify-content: start;
    }
  }
}

.btn-modal {
  margin: 0;
  background-color: inherit;
  color: $black;
  padding: 20px 10px;
  border: 1px solid $black;

  &:first-child {
    @include for-size(desktop) {
      margin-right: 15px;
    }
  }
}

.container-modal {
  padding-bottom: 40px;

  @include for-size(tablet-landscape) {
    display: flex;
    padding-bottom: 60px;
  }
}

.modal-card {
  @include for-size(tablet-landscape) {
    display: flex;
  }
}

.modal {
  &__poster,
  &__content {
    @include for-size(tablet-landscape) {
      width: calc((100% - 30px) / 2);
    }
  }

  &__poster {
    @include for-size(tablet-landscape) {
      margin-right: 30px;
    }
  }
}

.modal__content-title {
  margin: 30px 0 20px;
  text-transform: uppercase;
  color: $black;
  font-size: 20px;
  line-height: 1.17;

  @include for-size(tablet-landscape) {
    margin-top: 0;
    font-size: 30px;
  }

  &.info {
    margin: 0;
    font-size: 12px;
    line-height: 1.33;
  }

  &.secondary {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.33;
  }
}

.modal__content-info {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 12px;
  line-height: 1.33;

  &.name {
    color: $light-grey;
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    & > li {
      padding: 0;
      margin: 0;
    }

    & > p {
      margin: 0;
    }
  }
}

.flex-basis {
  flex-basis: 50%;
}
