.pagination-page {
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 10px;

  width: 40px;
  height: 40px;
  background-color: $footer-color;
  color: $black;
  text-align: center;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover,
  &.active {
    background-color: $accent;
    color: $white;
  }
}

.pagination-container {
  margin: 0;
  padding: 0;
}
